.layout {
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content:space-between;
  }

  .content {
    height: 100%;
    padding: 20px 30px 20px 30px;
    background-color: #fff;
  }
}
